{% extends "memedb/skeleton.html" %}

{% block title %}Dashboard | memedb{% endblock %}

{% block body %}
<main>
    <div class="container my-4 d-flex flex-column gap-4">
        <div class="d-flex flex-row gap-2 align-items-center flex-wrap">
            <a class="btn btn-primary" href="{% url 'meme_create' %}">Add Meme</a>

            <form class="flex-grow-1">
                <div class="input-group" style="max-width: 30rem;">
                    <input type="text" name="q" class="form-control" placeholder="Tags (comma separated)"
                        value="{{ request.GET.q }}">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </form>
        </div>

        <div class="row">
            {% include "memedb/meme_list_fragment.html" with object_list=object_list %}
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script>
    // thanks to https://stackoverflow.com/a/54844898
    document.body.addEventListener('click', async function (event) {

        // implements event delegation for dynamic elements
        // thanks to https://stackoverflow.com/a/25248515
        document.addEventListener("click", async function (e) {
            for (var target = e.target; target && target != this; target = target.parentNode) {
                // loop parent nodes from the target to the delegation node
                if (target.classList.contains('copy-image-to-clipboard-action')) {

                    let imageUrl = target.dataset["imageUrl"];
                    let response = await fetch(imageUrl);
                    let blob = await response.blob();

                    await navigator.clipboard.write([
                        new ClipboardItem({
                            [blob.type]: blob
                        })
                    ]);

                    break;
                }
            }
        }, false);
    }, false);
</script>
{% endblock %}