{% extends "memedb/skeleton.html" %}

{% block title %}Home | memedb{% endblock %}
{% block body %}

<main>
    <div class="container">
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold">Personal Meme DB</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Curate and tag your favorite memes so they're always a click away.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="{% url 'account_signup' %}" type="button"
                        class="btn btn-primary btn-lg px-4 gap-3">Signup</a>
                    <a href="{% url 'account_login' %}" type="button"
                        class="btn btn-outline-secondary btn-lg px-4">Login</a>
                </div>
            </div>
        </div>

    </div>
</main>

{% endblock %}