{% for object in object_list %}
<div class="col-sm-12 col-md-6 col-lg-4 mb-4"
    {% if forloop.last %}hx-get="{% url 'meme_list_fragment' %}?after={{ object.created_at.isoformat|urlencode }}&q={{ request.GET.q|urlencode }}"
    hx-trigger="revealed" hx-swap="afterend" {% endif%}>
    {% include "memedb/meme/meme_fragment.html" with object=object %}
</div>
{% empty %}
<div class="col-12">
    <div class="alert alert-secondary text-center" role="alert">
        That's all, folks.
    </div>
</div>
{% endfor %}